.promo {
    display: flex;
    min-height: 100vh;
    background: url('../../img/slider.png') no-repeat 50%/cover;
    &__buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: 56px;
        &-order {
            margin-right: 17px;
            .submit {
                width: 149px;
                height: 40px;
                left: 1131px;
                top: 56px;
                background: rgb(184, 76, 116);
                border-style: none;
                color: rgb(255, 255, 255);
                font-size: 13px;
                font-weight: 400;
                line-height: 17px;
                text-transform: uppercase;
            }
        }
        &-shoppingcart {
            @include circle
        }
    }
    &__descr {
        margin-top: 72px;
        color: rgb(5, 46, 76);
        font-size: 65px;
        font-weight: 300;
        line-height: 95px;
        letter-spacing: 10%;
        text-align: left;
        text-transform: uppercase;
        .bold{
            font-weight: 300;
        }
    }
    &__subdescr {
        margin-top: 24px;
        color: rgb(5, 46, 76);
        font-family: PT Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }
    &__calculator {
        margin-top: 48px;
        .calculator {
            width: 132px;
            height: 40px;
            background: rgb(255, 255, 255);
            border-style: none;
            color: rgb(5, 46, 76);
            font-family: PT Sans;
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-transform: uppercase;
        }
    }
    &__slide {
        margin-top: 169px;
        display: flex;
        .promo__slide-text {
            color: rgb(5, 46, 76);
            font-family: PT Sans;
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            margin-right: 3px;
            margin-left: 3px;
        }
        @include slider
    }
    .sidepanel {
        text-align: center;
        width: 72px;
        background: rgb(242, 246, 247);

        &__wrapper_logo {
            margin-top: 36px;
            @include circle ;
            .circle {
                background: rgb(184, 76, 116);
            }
        }
        &__wrapper_burger {
            cursor: pointer;
            margin-top: 46px;
        }
        &__wrapper_blinds {
            margin-top: 48px;
        }
        &__wrapper_rolls {
            margin-top: 16px;
        }
        &__wrapper_mosquito {
            margin-top: 16px;
        }
        &__wrapper_plisse {
            margin-top: 16px;
        }
        &__wrapper_electrician {
            margin-top: 16px;
        }
        &__wrapper_external {
            margin-top: 16px;
        }
        &__wrapper_photoprinting {
            margin-top: 16px;
        }
        &__wrapper_vector {
            margin-top: 16px;
        }
        &__wrapper_stock {
            margin-top: 16px;
        }
        &__wrapper_calculator {
            margin-top: 16px;
        }
        &__wrapper_search {
            margin-top: 199px;
        }
        
    }
}